* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
	color: inherit;
}

.section-title {
	text-align: center;
	text-shadow: 0px 1px 1px black;
	font-weight: 600;
}

/* contacts */
.contacts {
	background: #3ea8ff;
	color: #fff;
}
.container-2 {
	max-width: 400px;
	margin: 0 auto;
}
.contacts-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}
.contacts-item > a > i {
	font-size: 18px;
}
.contacts-item > a > span {
	font-size: 18px;
}

/* footer contact */
.contact-item {
	margin-top: 15px;
	text-align: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.contact-item > a {
	margin-bottom: 15px;
}
.contact-item > a > i {
	font-size: 23px;
}
.contact-item > a > span {
	font-size: 23px;
}

/* navbar */
#navbar {
	background: #f9f9f9;
}
.navbar-brand {
	font-size: 25px;
	font-weight: 600;
}
.navbar-nav {
	margin-left: 20px;
}
.nav-item .nav-link {
	color: #000;
	font-size: 16px;
	font-weight: 500;
	transition: 0.3s;
	letter-spacing: 1px;
	border-radius: 5px;
	margin-left: 7px;
}
.nav-item .nav-link:hover {
	color: #fff;
	background: #007bff;
}

/* home */

.home {
	width: 100%;
	height: 90vh;
	background-image: url('../img/bg-2.webp');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.9;
}
.home .content {
	text-align: center;
	color: #fff;
	padding-top: 150px;
}
.home .content h1 {
	font-size: 52px;
	text-shadow: 0px 1px 3px black;
	margin-bottom: 15px;
}
.home .content p {
	font-size: 20px;
	font-weight: 400;
	text-shadow: 0px 1px 3px black;
	padding: 10px 10px 30px;
	max-width: 650px;
	margin: 0 auto;
}
#btn {
	background-color: #007bff;
	border-color: #007bff;
}

/* rent-img */
.rent-img {
	background-image: url('../img/rent-car.jpg');
	height: 500px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* carousel */
.carousel {
	max-width: 750px;
	margin-bottom: 35px;
}

/* book */
.book {
	background: #3ea8ff;
	padding: 50px;
}
form h2 span {
	color: #007bff;
}
.form-bg {
	background: rgba(249, 249, 249, 0.7);
	border-radius: 10px;
	margin-left: 40px;
}
.book .card {
	box-shadow: 0px 5px 5px -6px black;
	border-radius: 10px;
}
.book .row {
	margin-top: 30px;
}
.book form {
	padding: 20px;
}
.btn {
	margin-top: 20px;
}
.book-title > p {
	color: #fff;
	display: flex;
	justify-content: space-between;
	margin-bottom: 15px;
	font-size: 17px;
}

/* packages */
.packages {
	padding: 90px 50px 50px;
}
.packages h2,
.rent-car h2 {
	font-size: 42px;
	text-align: center;
	margin-bottom: 35px;
}
.rent-car h2 {
	margin-top: 50px;
}
.packages .main-text p,
.rent-car .main-text p {
	padding-bottom: 55px;
	margin: 0 auto;
	max-width: 650px;
	text-align: center;
}
.packages .card {
	box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 4px;
	border-radius: 5px;
	border: none;
}
.packages .card img {
	border-radius: 5px;
	height: 292px;
}
.packages .card .card-body {
	background: transparent;
}
.packages .card .card-body h5 {
	font-size: 25px;
	font-weight: 600;
}
.packages .card .card-body p {
	font-size: 15px;
	display: flex;
	flex-direction: column;
}
.bath {
	display: flex;
	flex-direction: column;
}
.bath span,
.bath b {
	margin-bottom: 15px;
}

/* services */
.services {
	margin-top: 50px;
}
.services .card {
	box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 4px;
	border-radius: 5px;
	border: none;
}
.services .card i {
	font-size: 60px;
	text-align: center;
	margin-top: 20px;
}
.services .card .card-body {
	text-align: center;
}
.services .card .card-body h4 {
	font-weight: 600;
}

/* footer */
.footer {
	position: relative;
	width: 100%;
	margin-top: 150px;
	text-align: center;
	background: #f9f9f9;
}
.footer h4 {
	font-weight: 700;
	padding-top: 60px;
	padding-bottom: 15px;
}
.social-links i {
	padding: 10px;
	border-radius: 5px;
	font-size: 25px;
	background: #000;
	margin-left: 10px;
	transition: all 0.5s ease;
	cursor: pointer;
	color: #fff;
}
.social-links i:hover {
	background: #007bff;
}
.copyright {
	margin-top: 15px;
}

/* rent-car */

.rent-car-item {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
	border: solid 1px #cecece;
	border-radius: 6px;
	padding: 5px;
}
.rent-car-item h5 {
	font-size: 20px;
	font-weight: 600;
	color: #fff;
	background-color: #428bca;
	border-radius: 5px;
	padding: 10px;
	width: 90%;
	text-align: center;
	margin: 10px 0;
}
.rent-car-item img {
	width: 100%;
	max-width: 210px;
	height: 130px;
	object-fit: cover;
}
.money span {
	font-size: 36px;
	color: #428bca;
}
.rent-car-item p {
	color: #6c757d;
	font-size: 15px;
	font-weight: 600;
}

/* tour-item */
.tour-item {
	margin-top: 90px;
}
.tour-item-img {
	max-width: 750px;
}
.tour-item-img img {
	width: 100%;
	border-radius: 10px;
	margin-bottom: 35px;
}
.tour-item h4 {
	color: #3ea8ff;
}
.tour-item .program {
	display: flex;
	flex-direction: column;
}
.tour-item .menu,
.food-menu {
	margin: 25px 0;
	display: flex;
	flex-direction: column;
	font-size: 15px;
	font-weight: 500;
}
.tour-item .menu span {
	margin-bottom: 5px;
}
.food-menu b {
	padding-bottom: 15px;
}
.extra-cost {
	display: flex;
	flex-direction: column;
}
.extra-cost b {
	margin-bottom: 7px;
}

/* upButton */
.upButton {
	position: absolute;
	top: 0px;
	right: 50%;
	left: 50%;
	z-index: 3;
	width: 50px;
	height: 50px;
	border: none;
	background-color: #007bff;
	color: #fff;
	border-radius: 50%;
	font-size: 24px;
	cursor: pointer;
	transform: translate(-50%, -50%);
}
.upButton i {
	padding-top: 12px;
}

/* media */
@media (max-width: 765px) {
	.book {
		padding: 15px;
	}
	.form-bg {
		margin-left: 0;
	}
	.main-text h2 {
		margin-top: 30px;
	}
}
@media (max-width: 450px) {
	.home {
		height: 70vh;
	}
	.home .content {
		padding-top: 140px;
	}
	.home .content h1 {
		font-size: 32px;
	}
	.home .content p {
		font-size: 16px;
	}
	.services {
		padding: 30px;
	}
	.packages {
		padding: 15px;
	}
	.contacts-item {
		flex-direction: column;
		justify-content: center;
	}
	.contacts-item > a {
		margin-bottom: 7px;
	}
}
